.post {}

.post__art {
	margin: 0;
	padding: 0;
	text-align: center;
}

.post__art img {
	display: block;
	margin: 0 auto;
}

.post__art time {
	display: inline-block;
	margin: var(--space-xs) auto;
	padding: var(--space-3xs) var(--space-s);
	font-size: smaller;
	text-transform: lowercase;
	border-radius: var(--border-radius-largest);
	background: var(--color-light-shade);
}

.post__content {
	max-width: var(--body-width-ideal);
	margin-inline: auto;
}


.post-nav {
	max-width: var(--body-width-ideal);
	margin: var(--space-s) auto;
	padding: 0;

	display: flex;
	justify-content: space-between;

	background-color: var(--bg-color-mark);
	border-radius: var(--border-radius-largest);
}

.post-nav a {
	text-decoration: none;
	display: block;
	padding: var(--space-2xs) var(--space-m);
}

.post-nav a:active, .post-nav a:hover {
	text-decoration: none;
	background-color: var(--bg-color-mark-active);
}

.post-nav__prev,
.post-nav__next {
	flex-grow: 1;
}

.post-nav__prev a, .post-nav__next a {
	border-radius: var(--border-radius-largest);
}

.post-nav__next a {
	text-align: right;
}