.post {}

.post__art {
	margin: 0;
	padding: 0;
	text-align: center;
}

.post__art img {
	display: block;
	margin: 0 auto;
	
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.post__art figcaption {
	margin-top: var(--space-l);
}

.post__art time {
	display: inline-block;
	margin: var(--space-xs) auto;
	padding: var(--space-3xs) var(--space-s);
	font-size: smaller;
	text-transform: lowercase;
	border-radius: var(--border-radius-largest);
	background: var(--color-light-shade);
}

.post__content {
	max-width: var(--body-width-ideal);
	margin-inline: auto;
	padding-inline: var(--space-xs);
}


.post-nav {
	max-width: var(--body-width-ideal);
	margin: var(--space-s) auto;
	padding: 0;

	display: flex;
	justify-content: space-between;

	background-color: var(--bg-color-mark);
	border-radius: var(--border-radius-largest);
}

.post-nav a {
	text-decoration: none;
	display: block;
	padding: var(--space-2xs) var(--space-m);
}

.post-nav a:active, .post-nav a:hover {
	text-decoration: none;
	background-color: var(--bg-color-mark-active);
}

.post-nav__prev,
.post-nav__next {
	flex-grow: 1;
}

.post-nav__prev a, .post-nav__next a {
	border-radius: var(--border-radius-largest);
}

.post-nav__next a {
	text-align: right;
}