<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if title -%}{{ title }}
  {%- elsif page.title -%}{{ page.title }}
  {%- else -%}{{ site.title }}
  {%- endif -%}
</title>

<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#fafafa">

<link rel="stylesheet" href="/styles.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

<link rel="preload" href="/static/fonts/loveyalikeasister-regular.woff2" as="font" type="font/woff2" crossorigin="">
<link rel="preload" href="/static/fonts/loveyalikeasister-regular.woff" as="font" type="font/woff" crossorigin="">

<link rel="prefetch" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}">
<link rel="prefetch" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">

</head>
<body>

  <header class="container">
    <h1 class="logo"><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
    <p class="description">{{ site.description }}</p>
  </header>
  
  <main id="main" class="container">
    {{ content }}
  </main>

  <footer class="container">
    <p>
      Amara loves getting emails.
      <a class="highlight" href="mailto:amara.art@oinam.com">Please email her</a>.
      <br>
      The parents will reply with her hand-written reply.
    </p>
    <nav>
      <a href="/">Home</a>
      <a href="/feed.xml">Feed</a>
      <a href="mailto:amara.art@oinam.com">Email</a>
      <a href="https://github.com/oinam/amara.oinam.art">Source</a>
    </nav>
    <p>
      <small>
        ©
        2016-{{ "now" | date: "%Y" }}
        Amara Oinam.
        All Rights Reserved.
      </small>
    </p>
  </footer>

  {% include analytics-matomo.html %}

</body>
</html>