---
layout: default
---

<figure class="post__art">
  <img
    alt="{{ page.title }}"
    src="/{{ site.file_path }}/{{ page.image }}.{{ site.file_format}}">
  <figcaption>
    <h2>{{ page.title }}</h2>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%a, %b %-d, %Y' }}</time>
  </figcaption>
</figure>

<article class="post__content">  
  {{ content }}
</article>

{%- if page.previous.url or page.next.url -%}
<nav class="post-nav">
  {%- if page.previous.url -%}
  <div class="post-nav__prev">
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">← Prev</a>
  </div>
  {%- endif -%}
  {%- if page.next.url -%}
  <div class="post-nav__next">
    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next →</a>
  </div>
  {%- endif -%}
</nav>
{%- endif -%}